@import 'variables';

.main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;

        .body__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            min-height: 100vh;
            padding: 1rem;
            padding-top: var(--header-height);

            .card {
                padding: 1rem;
                border-radius: 1rem;
                box-shadow: var(--shadow);
            }

            .small__cards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1rem;
                width: 100%;
                margin-bottom: 1rem;

                .small__card {
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .title {
                        font-size: 1rem;
                        font-weight: 700;
                    }

                    .count {
                        margin-left: 1rem;
                        font-size: 2rem;
                        font-weight: 700;
                    }
                }
            }

            .big__cards {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 1rem;
                width: 100%;

                .left__card {
                    height: 300px;
                }

                .right__card {
                    height: 600px;
                }
            }
        }
    }
}

@media (min-width: $break-sm) {
    .main {
        .body {
            margin-left: var(--menu-width);
            .body__content {
                
            }
        }
    }
}

@media (min-width: $break-md) {
    .main {
        .body {
            .body__content {
                .small__cards {
                    grid-template-columns: 1fr 1fr 1fr;
                }

                .big__cards {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

@media (min-width: $break-lg) {
    .main {
        .body {
            .body__content {
                .small__cards {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }

                .big__cards {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}