@import 'variables';

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.form__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin-top: .5rem;
    margin-bottom: .5rem;

    >*+* {
        margin-top: 1rem;
    }

    .form__control {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;



        label {
            margin-bottom: .5rem;
        }

        input[type='text'],
        input[type='number'],
        input[type='email'],
        input[type='password'],
        input[type='search'],
        textarea {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-radius: .5rem;
            outline: unset;
            border: unset;
            background-color: #E8F0FE;
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: medium;
        }

        select,
        input[type='date'] {
            width: 100%;
            padding: 1rem;
            border-radius: .5rem;
        }

        textarea {
            justify-content: flex-start;
        }

        .message {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: .8rem;
            margin-top: .5rem;
            width: 100%;
        }

        .message.invalid {
            color: #a70000;
        }

        .message.valid {
            color: #00a816;
        }

    }

    .form__control.row {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        label {
            margin-bottom: unset;
        }

        >*+* {
            margin-left: .5rem;
        }
    }

    .form__control.valid {
        input {
            outline: solid 1px #00a816;
        }
    }

    .form__control.invalid {
        input {
            outline: solid 1px #a70000;
        }
    }

}

@media (min-width: $break-md) {
    .form__group {
        flex-direction: row;
        max-width: 500px;

        >*+* {
            margin-top: 0;
            margin-left: .5rem;
        }
    }
}