:root {
  --shadow: 0px 2px 4px #195ddd77;
  --inner-shadow: inset 2px 0px 4px #195ddd77;
  --color-1: #195ddd;
  --menu-width: 200px;
  --header-height: 133px;
}

.floatingMenu__btn {
  position: fixed;
  z-index: 10;
  top: 2rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}
.floatingMenu__btn svg {
  height: 1rem;
  width: 1rem;
}

.floatingMenu__btn.active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.menuWrapper {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.floatingMenu {
  position: fixed;
  z-index: 10;
  top: 2rem;
  left: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  width: 200px;
  border-radius: 1rem;
  border-top-left-radius: 0;
  box-shadow: var(--shadow);
  background-color: #fff;
}
.floatingMenu > * + * {
  margin-top: 1rem;
}
.floatingMenu .menu__header .header__logo {
  box-shadow: var(--inner-shadow);
}
.floatingMenu .menu__header,
.floatingMenu .menu__body,
.floatingMenu .menu__footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.floatingMenu .menu__header .menu__link,
.floatingMenu .menu__body .menu__link,
.floatingMenu .menu__footer .menu__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}
.floatingMenu .menu__header .menu__link .link__icon,
.floatingMenu .menu__body .menu__link .link__icon,
.floatingMenu .menu__footer .menu__link .link__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.floatingMenu .menu__header .menu__link .link__icon svg,
.floatingMenu .menu__body .menu__link .link__icon svg,
.floatingMenu .menu__footer .menu__link .link__icon svg {
  height: 1rem;
  width: 1rem;
}
.floatingMenu .menu__header .menu__link .link__text,
.floatingMenu .menu__body .menu__link .link__text,
.floatingMenu .menu__footer .menu__link .link__text {
  margin-left: 0.5rem;
}
.floatingMenu .menu__header .menu__link:hover,
.floatingMenu .menu__body .menu__link:hover,
.floatingMenu .menu__footer .menu__link:hover {
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  width: var(--menu-width);
  height: 100vh;
  box-shadow: var(--shadow);
  background-color: #fff;
}
.menu > * + * {
  margin-top: 1rem;
}
.menu .menu__header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.menu .menu__header > * + * {
  margin-top: 2rem;
}
.menu .menu__header .header__logo {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--inner-shadow);
  cursor: pointer;
}
.menu .menu__header .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}
.menu .menu__header .profile .profile__pic img {
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.menu .menu__header .profile .profile__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu .menu__header .profile .profile__text .name {
  font-weight: 700;
}
.menu .menu__header .profile .profile__text .level {
  opacity: 0.7;
  font-weight: 300;
}
.menu .menu__body,
.menu .menu__footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.menu .menu__body .menu__link,
.menu .menu__footer .menu__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  transition: margin 0.4s ease-out;
  cursor: pointer;
  --link-color: #000;
  color: var(--link-color);
}
.menu .menu__body .menu__link .link__icon,
.menu .menu__footer .menu__link .link__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .menu__body .menu__link .link__icon svg,
.menu .menu__footer .menu__link .link__icon svg {
  height: 1rem;
  width: 1rem;
  fill: var(--link-color);
}
.menu .menu__body .menu__link .link__text,
.menu .menu__footer .menu__link .link__text {
  text-transform: capitalize;
  margin-left: 0.5rem;
}
.menu .menu__body .menu__link.active,
.menu .menu__footer .menu__link.active {
  --link-color: var(--color-1);
}
.menu .menu__body .menu__link:hover,
.menu .menu__footer .menu__link:hover {
  margin-left: 1rem;
}
.menu .menu__body {
  height: 50%;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}
.menu .menu__body::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 1rem;
}
.menu .menu__body::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
  border-radius: 1rem;
}
.menu .menu__body .menu__title {
  padding-left: 0.5rem;
  font-weight: 700;
  color: var(--color-1);
}
.menu .menu__footer {
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 576px) {
  .floatingMenu__btn {
    display: none;
  }
  .menu {
    display: flex;
  }
}/*# sourceMappingURL=menu.css.map */